{% extends 'layout.html' %}
{% block container %}

    <div class="row">
        <div class="col-md-3 left-faceted">
            <br>
            <h4>Faceted Search</h4>
            <hr>
            <div id="accordion" class="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="false" aria-controls="collapseOne">
                        <a class="card-title">Department</a>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dept" value="civil" id="checked1"
                                           onclick="myCivil()"/>
                                    <label class="form-check-label" for="checked1">Civil and Infrastructure
                                        Engineering</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dept" value="indus" id="checked2"
                                           onclick="myIndus()"/>
                                    <label class="form-check-label" for="checked2">Industrial Systems
                                        Engineering</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dept" value="ict" id="checked3"
                                           onclick="myICT()"/>
                                    <label class="form-check-label" for="checked3">Information and Communication
                                        Technologies</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dept" value="indus" id="checked4"
                                           onclick="myMulti()"/>
                                    <label class="form-check-label" for="checked4">Interdisciplinary Programs</label>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                {#        Group Item#2        #}
                <div class="card">
                    <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                         aria-expanded="false" aria-controls="collapseTwo">
                        <a class="card-title">Item#2</a>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <h3>Taxonomy</h3>
            <p>School of Engineering and Technology</p>

            <div id="parentChild"></div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <style>
        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }
    </style>

    <script>
        // window.onload = function () {
        // do something

        var margin = {top: 20, right: 120, bottom: 20, left: 150},
            width = 960 - margin.right - margin.left,
            height = 800 - margin.top - margin.bottom;

        var i = 0,
            duration = 500,
            root;

        var tree = d3.layout.tree()
            .size([height, width]);

        var diagonal = d3.svg.diagonal()
            .projection(function (d) {
                return [d.y, d.x];
            });

        var svg = d3.select("#parentChild").append("svg")
            .attr("width", "100%") //width + margin.right + margin.left
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.select(self.frameElement).style("height", "800px");

        d3.json('{{ url_for("static", filename="data/old/results.json") }}', function (error, flare) {
            if (error) throw error;

            root = flare;
            root.x0 = height / 2;
            root.y0 = 0;

            function collapse(d) {
                if (d.children) {
                    d._children = d.children;
                    d._children.forEach(collapse);
                    d.children = null;
                }
            }

            root.children.forEach(collapse);
            update(root);
        });

        function update(source) {

            // Compute the new tree layout.
            var nodes = tree.nodes(root).reverse(),
                links = tree.links(nodes);

            // Normalize for fixed-depth.
            nodes.forEach(function (d) {
                d.y = d.depth * 165;
            });

            // Update the nodes…
            var node = svg.selectAll("g.node")
                .data(nodes, function (d) {
                    return d.id || (d.id = ++i);
                });

            // Enter any new nodes at the parent's previous position.
            var nodeEnter = node.enter().append("g")
                .attr("class", "node")
                .attr("transform", function (d) {
                    return "translate(" + source.y0 + "," + source.x0 + ")";
                })
                .on("click", click);

            nodeEnter.append("circle")
                .attr("r", 1e-6)
                .style("fill", function (d) {
                    return d._children ? "lightsteelblue" : "#fff";
                });

            nodeEnter.append("text")
                .attr("x", function (d) {
                    return d.children || d._children ? -10 : 10;
                })
                .attr("dy", ".35em")
                .attr("text-anchor", function (d) {
                    return d.children || d._children ? "end" : "start";
                })

                .each(function (d) {
                    if (d.name != undefined) {
                        var lines = wordwrap2(d.name);
                        var space_line = ".35em";
                        if (lines.length % 2 == 0) {
                            for (var i = 0; i < lines.length; i++) {
                                d3.select(this).append("tspan")
                                    .attr("dy", space_line)
                                    .attr("x", function (d) {
                                        return d.children || d._children ? -10 : 10;
                                    })
                                    .text(lines[i] + " " + lines[i + 1]);
                                i++;
                                space_line = "1em";
                            }
                        }
                        else {
                            if (lines.length == 1) {
                                d3.select(this).append("tspan")
                                    .attr("dy", space_line)
                                    .attr("x", function (d) {
                                        return d.children || d._children ? -10 : 10;
                                    })
                                    .text(d.name);
                            }
                            else {
                                for (var i = 0; i < lines.length; i++) {
                                    if (i < lines.length - 1) {
                                        d3.select(this).append("tspan")
                                            .attr("dy", space_line)
                                            .attr("x", function (d) {
                                                return d.children || d._children ? -10 : 10;
                                            })
                                            .text(lines[i] + " " + lines[i + 1]);
                                        i++;
                                        space_line = "1em";
                                    }
                                    else {
                                        d3.select(this).append("tspan")
                                            .attr("dy", space_line)
                                            .attr("x", function (d) {
                                                return d.children || d._children ? -10 : 10;
                                            })
                                            .text(lines[i]);
                                        break
                                    }


//                                    if (i < lines.length - 3) {
//                                        d3.select(this).append("tspan")
//                                            .attr("dy", space_line)
//                                            .attr("x", function (d) {
//                                                return d.children || d._children ? -10 : 10;
//                                            })
//                                            .text(lines[i] + " " + lines[i + 1]);
//                                        i++;
//                                        space_line = "1em";
//                                    }
//                                    else {
//                                        d3.select(this).append("tspan")
//                                            .attr("dy", space_line)
//                                            .attr("x", function (d) {
//                                                return d.children || d._children ? -10 : 10;
//                                            })
//                                            .text(lines[i] + " " + lines[i + 1] + " " + lines[i + 2]);
//                                        break
                                    //                                   }
                                }
                            }

                        }

                    }
                })


                // .text(function (d) {
                //     return d.name;
                // })


                .style("fill-opacity", 1e-6);

            // Transition nodes to their new position.
            var nodeUpdate = node.transition()
                .duration(duration)
                .attr("transform", function (d) {
                    return "translate(" + d.y + "," + d.x + ")";
                });

            nodeUpdate.select("circle")
                .attr("r", 4.5)
                .style("fill", function (d) {
                    return d._children ? "lightsteelblue" : "#fff";
                });

            nodeUpdate.select("text")
                .style("fill-opacity", 1);

            // Transition exiting nodes to the parent's new position.
            var nodeExit = node.exit().transition()
                .duration(duration)
                .attr("transform", function (d) {
                    return "translate(" + source.y + "," + source.x + ")";
                })
                .remove();

            nodeExit.select("circle")
                .attr("r", 1e-6);

            nodeExit.select("text")
                .style("fill-opacity", 1e-6);

            // Update the links…
            var link = svg.selectAll("path.link")
                .data(links, function (d) {
                    return d.target.id;
                });

            // Enter any new links at the parent's previous position.
            link.enter().insert("path", "g")
                .attr("class", "link")
                .attr("d", function (d) {
                    var o = {x: source.x0, y: source.y0};
                    return diagonal({source: o, target: o});
                });

            // Transition links to their new position.
            link.transition()
                .duration(duration)
                .attr("d", diagonal);

            // Transition exiting nodes to the parent's new position.
            link.exit().transition()
                .duration(duration)
                .attr("d", function (d) {
                    var o = {x: source.x, y: source.y};
                    return diagonal({source: o, target: o});
                })
                .remove();

            // Stash the old positions for transition.
            nodes.forEach(function (d) {
                d.x0 = d.x;
                d.y0 = d.y;
            });
        }

        function wordwrap2(text) {
            var lines = text.split(" ")
            return lines
        }

        // Toggle children on click.
        function click(d) {
            if (d.children) {
                d._children = d.children;
                d.children = null;
            } else {
                d.children = d._children;
                d._children = null;
            }
            update(d);
        }


        ////////////////////


        function myCivil() {
            d3.json('{{ url_for("static", filename="data/old/civil.json") }}', function (error, flare) {
                if (error) throw error;

                root = flare;
                root.x0 = height / 2;
                root.y0 = 0;

                function collapse(d) {
                    if (d.children) {
                        d._children = d.children;
                        d._children.forEach(collapse);
                        d.children = null;
                    }
                }

                root.children.forEach(collapse);
                update(root);
            });
        }

        function myIndus() {
            d3.json('{{ url_for("static", filename="data/old/indus.json") }}', function (error, flare) {
                if (error) throw error;

                root = flare;
                root.x0 = height / 2;
                root.y0 = 0;

                function collapse(d) {
                    if (d.children) {
                        d._children = d.children;
                        d._children.forEach(collapse);
                        d.children = null;
                    }
                }

                root.children.forEach(collapse);
                update(root);
            });
        }

        function myICT() {
            d3.json('{{ url_for("static", filename="data/old/ict.json") }}', function (error, flare) {
                if (error) throw error;

                root = flare;
                root.x0 = height / 2;
                root.y0 = 0;

                function collapse(d) {
                    if (d.children) {
                        d._children = d.children;
                        d._children.forEach(collapse);
                        d.children = null;
                    }
                }

                root.children.forEach(collapse);
                update(root);
            });
        }

        function myMulti() {
            d3.json('{{ url_for("static", filename="data/old/multi.json") }}', function (error, flare) {
                if (error) throw error;

                root = flare;
                root.x0 = height / 2;
                root.y0 = 0;

                function collapse(d) {
                    if (d.children) {
                        d._children = d.children;
                        d._children.forEach(collapse);
                        d.children = null;
                    }
                }

                root.children.forEach(collapse);
                update(root);
            });
        }

    </script>


{% endblock %}