{% extends 'layout.html' %}
{% block container %}

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3>SPARQL Setting</h3>
            <p>for Taxonomy Page</p>
            <div id="querySetting">
                <form id="queryForm">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="subject">Subject (select one):</label>
                            <select class="form-control" id="subject" name="sellist1">
                                <option disabled selected>-- select an option --</option>
                                {% for each in data.subjects %}
                                    <option>{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="predicate">Predicate (select one):</label>
                            <select class="form-control" id="predicate" name="sellist2">
                                <option disabled selected>-- select an option --</option>
                                {% for each in data.predicates %}
                                    {% if each.split('#')[-1] != each.split('#')[1] %}
                                        <option mysubject="{{ each.split('#')[0] }}"
                                                myrange="{{ each.split('#')[-1] }}">{{ each.split('#')[1] }}</option>
                                    {% else %}
                                        <option mysubject="{{ each.split('#')[0] }}"
                                                myrange="">{{ each.split('#')[1] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="range">Range (select one):</label>
                            <select class="form-control" id="range" name="sellist3">
                                <option disabled selected>-- select an option --</option>
                                {% for each in data.ranges %}
                                    <option>{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#queryForm').submit(function (e) {
                $.ajax({
                    url: '/sparql',
                    data: $('#queryForm').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                        alert(response)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                e.preventDefault();
            });

            $.fn.toggleOption = function (show) {
                $(this).toggle(show);
                if (show) {
                    if ($(this).parent('span.toggleOption').length)
                        $(this).unwrap();
                } else {
                    if ($(this).parent('span.toggleOption').length == 0)
                        $(this).wrap('<span class="toggleOption" style="display: none;" />');
                }
            };

            $("#subject").change(function () {
//                var str = "";
                var mysubject = $("#subject").children(":selected").text();
                ;
                var predicate = "";
//                $("select#subject option:selected").each(function () {
//                    str += $(this).text() + " ";
//                    mysubject = $(this).text();
//                });
                $("#predicate option").each(function () {
                    predicate = $(this).attr('mysubject');
                    if ($(this).text() == '-- select an option --') {
                        $(this).prop('selected', true)
                    } else if (mysubject != predicate) {
                        $(this).toggleOption(false);
                    } else {
                        $(this).toggleOption(true);
                    }
                });
                $("#range option").each(function () {
                    if ($(this).text() == '-- select an option --') {
                        $(this).prop('selected', true)
                    } else {
                        $(this).toggleOption(false);
                    }
                });
                alert($("#predicate").children(":selected").text());
            }).change();

            $("#predicate").change(function () {
//                var check_p = $("#predicate").children(":selected").text();
                var myrange = $("#predicate").children(":selected").attr('myrange');
                $("#range option").each(function () {
                    if ($(this).text() == '-- select an option --') {
                        $(this).prop('selected', true)
                    } else if (myrange != $(this).text()) {
                        $(this).toggleOption(false);
                    } else {
                        $(this).toggleOption(true);
                    }
                });
            }).change();
        });
    </script>

{% endblock %}