<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask Bookshelf</title>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('main.index') }}">ProjMind</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a></li>
{#            <li><a class="navbar-brand" href="{{ url_for('admin.index') }}">Admin</a></li>#}
{#            <li><a class="navbar-brand" href="{{ url_for('main.display_books') }}">Books</a></li>#}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
    {% block container %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>